{% include "dashlayout.html" %}
      
      <div class="content-container">
      
        <div class="container-fluid">
      
          <!-- Main component for a primary marketing message or call to action -->
          <div class="jumbotron">
            <h1>PROJECT - Complaint Management System</h1>
            <p>This project is made for WOST Practical Assessment by following Student of <br>IT Section 1, 2023 Batch
            Hitesh Chawla (UE198046) & Ekaant Garg (UE198039)</p>
            <p>
              <a class="btn btn-lg btn-primary" href="../logout" role="button">Log out</a>
            </p>
          </div>
      
        </div>
      </div>
</body>

</html>