{% include "header.html" %}



<section class="pagehead shadow-lg">
  <img src="{{ url_for('static',filename='header.gif')}}" alt="" style="overflow: hidden;" width="100%" >


</section>

<section style="
    background: #fff;
    padding: 40px;
  ">
  <div class="" style="display: flex; flex-direction: column; align-items: center;">
    <!-- <div class="text-center btn_container" style="margin-top:30px;display: flex; flex-direction: column;"> -->
    <div class="padding">
      <a href="../complain" style="min-width: 240px;" class="btn btn-lg btn-warning butons three-btns-alignment"
        id="butons1">Register a Complain</a>
    </div>
    <div class="padding">
      <input type="button" style="min-width: 240px;" class="btn btn-lg btn-warning butons three-btns-alignment" name="answer" value="Track by Complaint-ID" onclick="showDiv()" />
    </div>

    <script type="text/javascript">function showDiv() {
        document.getElementById('trackidhidden').style.display = "block";
      }</script>
      <script type="text/javascript">function hideDiv() {
        document.getElementById('trackidhidden').style.display = "none";
      }</script>

<script>
  function onlyNumberKey(evt) {
        
      // Only ASCII character in that range allowed
      var ASCIICode = (evt.which) ? evt.which : evt.keyCode
      if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
          return false;
      return true;
  }
</script>

    <div class ="padding" id="trackidhidden" style="display: none;">

      <form class="trackid" style="margin:auto;max-width:300px" action="../" method="POST" enctype="multipart/form-data">
        <input type="text" required onkeypress="return onlyNumberKey(event)" placeholder="Enter Complaint-ID" name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

  
       
      {% if found == False %}
      {% if disp == True%}
      <p class="padding"> Sorry, No records found!</p>
      {% endif %}
      {% else %}
      
      <div class ="padding">
        <p >Complaint-ID: {{currcomp.id}}</p>
              <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Status</th>            
          </tr>
        </thead>
        <tbody>


          <tr>
            <th scope="row">{{currcomp.compdate}}</th>
            <td>Complaint registered</td>
            
          </tr>

          {% if currcomp.status<0 %}

          <tr>
            <th scope="row">{{currcomp.rejecteddate}}</th>
            <td>Complaint Rejected</td>
           
          </tr>

          {% elif currcomp.status>1 %}
          <tr>
            <th scope="row">{{currcomp.approvedate}}</th>
            <td>Complaint Approved</td>
          </tr>

          {% if currcomp.status > 2 %}

          <tr>
            <th scope="row">{{currcomp.processdate}}</th>
            <td>In Process</td>
          </tr>

          {% endif %}

          {% if currcomp.status == 4 %}

          <tr>
            <th scope="row">{{currcomp.resoldate}}</th>
            <td>Complaint Resolved</td>
          </tr>

          {% endif %}



          {% endif %}
        </tbody>
      </table>
      
     </div>
     {% endif %}

     <div class="padding">
      <input type="button" style="min-width: 100px;"  name="answer" value="Hide" onclick="hideDiv()" />


    </div>

    </div>

    


    <!-- </div> -->
  </div>
</section>

<section class="whatwedo">
  <div class="container">
    <div class="text-center pb-5">
      <h2> Simple steps to lodge a complain</h2>
    </div>

    <div class="row">
     
      <div class="col-md-12 whatwedo-cards">
        
        <div class="row">
          <div class="whatwedo-card col-md-4 text-center">
            <div class="separator">

              <div class="card-inner">
                <div class="card-front">
                  <i class="fas fa-edit mt-5 mb-3 fa-5x"></i>
                  <h5 class="largetext-font">Register your Complain</h5>
                </div>
                <div class="card-back">
                  <p class="my-5"> Register your complain by clicking "Register your Complain" on
                    Homepage. Fill required details and select complain category </p>
                </div>
              </div>

            </div>
          </div>

          <div class="whatwedo-card col-md-4 text-center">
            <div class="separator">

              <div class="card-inner">
                <div class="card-front">
                  <i class="fas fa-fingerprint fa-5x mt-5 mb-3"></i>
                  <h5 class="largetext-font">Get Tracking ID</h5>
                </div>
                <div class="card-back">
                  <p class="my-5"> After filing your complaint your get a complaint-ID. Keep this Complaint-ID
                    for future proceedings
                  </p>
                </div>
              </div>

            </div>
          </div>

          <div class="whatwedo-card col-md-4 text-center">
            <div class="separator">

              <div class="card-inner">
                <div class="card-front">
                  <i class="fas fa-user-check fa-5x mt-5 mb-3"></i>
                  <h5 class="largetext-font">Check Status</h5>
                </div>
                <div class="card-back">
                  <p class="my-5"> With complaint-ID you can Track status of your complaint.</p>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
  </div>
  </div>
</section>


<script type="text/javascript">

  window.onload = (event) => {

    {% if disp == True%}
    showDiv()
    {% endif%}
  };

</script>

{% include "footer.html" %}
